.bdy {
  background: linear-gradient(  rgb(190,221,246), rgb(230,230,255) );
  /* rgb(190,221,246), rgb(230,230,255) */
  /* background-color: rgb(223,228,253); */
}
.mainweb {
  margin-top: 150px;
}

.websiteName {
  font-size: 150px;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  color: deepskyblue;
}
/* chocolate, cornflowe darkblue*/
.caption {
  padding-left: 300px;
  text-align: center;
  font-size: 25px;
  font-family: 'Homemade Apple', cursive;
}

.navbart {
  padding-left: 1000px;
  display: inline-block;
}

.containerr {
  height: 350px;
  width: 300px;
  border: solid 1mm;
  border-radius: 10%;
  text-align: center;
}

.ctitle {
  color: #000;
  text-align: center;
}

.Elementpage {
  margin-top: 250px;
  margin-bottom: 10px;
  margin-left: 50px;
}

.card {
  margin: 50px;
  align-items: center;
  text-align: center;
  justify-items: center;
  width: 300px;
  border-radius: 10%;
}

.org {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 250px;
  font-size: 75px;
  font-style: italic;
  font-family: 'Cedarville Cursive', cursive;
}

hr {
  border-style: none;
  border-top-style: none;
  border-width: 5px;
  margin-top: 40px;
  width: 100%;
  border-color: black;
  align-self: center;
}

.container1 {
  height: 600px;
  width: 500px;
  border: solid 1mm;
  border-radius: 10%;
  align-content: center;
  text-align: center;
  border-spacing: 40px;
}
.leftbox{
  border: solid black;
  height: 600px;
  float: left;
  width: 20%;
  margin-left: 50px;
}
.rightbox {
  margin-right: 100px;
  float: right;
  width: 40%;
  text-align: center;
}
.rule {
  padding-left: 15px;
  padding-right: 25px;
}
 img {
  height: 250px;
  width: 250px;
 }
 .bottom {
  margin-bottom: 0;
 }
 .fp {
  color: white;
 }